/*
 * CommercialCreditAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.experian.sandboxusapi.controllers;

import com.experian.sandboxusapi.ApiHelper;
import com.experian.sandboxusapi.Server;
import com.experian.sandboxusapi.exceptions.ApiException;
import com.experian.sandboxusapi.exceptions.OAuthProviderException;
import com.experian.sandboxusapi.http.request.HttpMethod;
import com.experian.sandboxusapi.models.OAuthToken;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class OAuthAuthorizationController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public OAuthAuthorizationController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Create a new OAuth 2 token.
     * @param  authorization  Required parameter: Authorization header in Basic auth format
     * @param  username  Required parameter: Resource owner username
     * @param  password  Required parameter: Resource owner password
     * @param  scope  Optional parameter: Requested scopes as a space-delimited list.
     * @param    fieldParameters    Additional optional form parameters are supported by this endpoint
     * @return    Returns the OAuthToken response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public OAuthToken requestToken(
            final String authorization,
            final String username,
            final String password,
            final String scope,
            final Map<String, Object> fieldParameters) throws ApiException, IOException {
        return prepareRequestTokenRequest(authorization, username, password, scope,
                fieldParameters).execute();
    }

    /**
     * Create a new OAuth 2 token.
     * @param  authorization  Required parameter: Authorization header in Basic auth format
     * @param  username  Required parameter: Resource owner username
     * @param  password  Required parameter: Resource owner password
     * @param  scope  Optional parameter: Requested scopes as a space-delimited list.
     * @param    fieldParameters    Additional optional form parameters are supported by this endpoint
     * @return    Returns the OAuthToken response from the API call
     */
    public CompletableFuture<OAuthToken> requestTokenAsync(
            final String authorization,
            final String username,
            final String password,
            final String scope,
            final Map<String, Object> fieldParameters) {
        try { 
            return prepareRequestTokenRequest(authorization, username, password, scope,
            fieldParameters).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for requestToken.
     */
    private ApiCall<OAuthToken, ApiException> prepareRequestTokenRequest(
            final String authorization,
            final String username,
            final String password,
            final String scope,
            final Map<String, Object> fieldParameters) throws IOException {
        return new ApiCall.Builder<OAuthToken, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.AUTH.value())
                        .path("/oauth2/v1/token")
                        .formParam(param -> param.key("grant_type")
                                .value("password").isRequired(false))
                        .formParam(param -> param.key("username")
                                .value(username))
                        .formParam(param -> param.key("password")
                                .value(password))
                        .formParam(param -> param.key("scope")
                                .value(scope).isRequired(false))
                        .formParam(fieldParameters)
                        .headerParam(param -> param.key("Authorization")
                                .value(authorization).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, OAuthToken.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.create("OAuth 2 provider returned an error.",
                                (reason, context) -> new OAuthProviderException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.create("OAuth 2 provider says client authentication failed.",
                                (reason, context) -> new OAuthProviderException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Obtain a new access token using a refresh token.
     * @param  authorization  Required parameter: Authorization header in Basic auth format
     * @param  refreshToken  Required parameter: Refresh token
     * @param  scope  Optional parameter: Requested scopes as a space-delimited list.
     * @param    fieldParameters    Additional optional form parameters are supported by this endpoint
     * @return    Returns the OAuthToken response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public OAuthToken refreshToken(
            final String authorization,
            final String refreshToken,
            final String scope,
            final Map<String, Object> fieldParameters) throws ApiException, IOException {
        return prepareRefreshTokenRequest(authorization, refreshToken, scope,
                fieldParameters).execute();
    }

    /**
     * Obtain a new access token using a refresh token.
     * @param  authorization  Required parameter: Authorization header in Basic auth format
     * @param  refreshToken  Required parameter: Refresh token
     * @param  scope  Optional parameter: Requested scopes as a space-delimited list.
     * @param    fieldParameters    Additional optional form parameters are supported by this endpoint
     * @return    Returns the OAuthToken response from the API call
     */
    public CompletableFuture<OAuthToken> refreshTokenAsync(
            final String authorization,
            final String refreshToken,
            final String scope,
            final Map<String, Object> fieldParameters) {
        try { 
            return prepareRefreshTokenRequest(authorization, refreshToken, scope,
            fieldParameters).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for refreshToken.
     */
    private ApiCall<OAuthToken, ApiException> prepareRefreshTokenRequest(
            final String authorization,
            final String refreshToken,
            final String scope,
            final Map<String, Object> fieldParameters) throws IOException {
        return new ApiCall.Builder<OAuthToken, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.AUTH.value())
                        .path("/oauth2/v1/token")
                        .formParam(param -> param.key("grant_type")
                                .value("refresh_token").isRequired(false))
                        .formParam(param -> param.key("refresh_token")
                                .value(refreshToken))
                        .formParam(param -> param.key("scope")
                                .value(scope).isRequired(false))
                        .formParam(fieldParameters)
                        .headerParam(param -> param.key("Authorization")
                                .value(authorization).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, OAuthToken.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.create("OAuth 2 provider returned an error.",
                                (reason, context) -> new OAuthProviderException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.create("OAuth 2 provider says client authentication failed.",
                                (reason, context) -> new OAuthProviderException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}